VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxx
DATABASE_URL=postgresql://neondb_owner:xxx@ep-xxx.sa-east-1.aws.neon.tech/neondb?sslmode=require
VITE_NEON_AUTH_URL=https://ep-xxx.neonauth.sa-east-1.aws.neon.tech/neondb/auth
