# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# build
dist/
.output/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# windsurf
.windsurfrules

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
