@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 157 51% 99%;
    --foreground: 157 64% 1%;
    --muted: 157 13% 92%;
    --muted-foreground: 157 3% 35%;
    --popover: 157 51% 99%;
    --popover-foreground: 157 64% 1%;
    --card: 157 51% 99%;
    --card-foreground: 157 64% 1%;
    --border: 157 9% 91%;
    --input: 157 9% 91%;
    --primary: 157 62% 54%;
    --primary-foreground: 157 62% 14%;
    --secondary: 157 3% 88%;
    --secondary-foreground: 157 3% 28%;
    --accent: 157 11% 80%;
    --accent-foreground: 157 11% 20%;
    --destructive: 8 100% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 157 62% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 157 42% 2%;
    --foreground: 157 29% 98%;
    --muted: 157 13% 8%;
    --muted-foreground: 157 3% 65%;
    --popover: 157 42% 2%;
    --popover-foreground: 157 29% 98%;
    --card: 157 42% 2%;
    --card-foreground: 157 29% 98%;
    --border: 157 9% 14%;
    --input: 157 9% 14%;
    --primary: 157 62% 54%;
    --primary-foreground: 157 62% 14%;
    --secondary: 157 14% 18%;
    --secondary-foreground: 157 14% 78%;
    --accent: 157 20% 27%;
    --accent-foreground: 157 20% 87%;
    --destructive: 8 100% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 157 62% 54%;
  }
}
